$noPaddings : 0, 0, 0, 0;
$noMargins : 0, 0, 0, 0;

.col-md-1, .col-md-2, .col-md-3, .col-md-4,
.col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-md-10, .col-md-11, .col-md-12,
.row
{
  padding : $noPaddings !important;
  margin  : $noMargins !important;
}

a
{
  color           : inherit;
  text-decoration : none;
}

a:hover
{
  color           : inherit;
  text-decoration : none;
  cursor          : pointer;
}

textarea, input, button
{
  outline : none;
}

:focus
{
  outline-color : transparent;
  outline-style : none !important;
}

hr
{
  margin : 2.5px 2.5px 10px 2.5px;
}

//=======================
//BOOTSTRAP
//=======================

.navbar-default
{
  margin-bottom : 0px;
}