<!DOCTYPE html>

<html>

  <head>
    <title>Boilerplate</title>
    <!--- Don't forget to include bootstrap cdn\local path, if using it --->
  </head>

  <body>

    <div id="root"></div>
    <script src="/build/bundle.js"></script>

  </body>

</html>
