#LoginPage
{
  height: 100%;
  overflow: auto;

  background: darkslateblue url('/images/backgrounds/bg_1.jpg') fixed 50% 50% no-repeat;
  background-size: cover;
}

#LoginSection
{
  width: 100%;

  padding: 0 10% 0 10%;
  text-align: center;
}